@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    25 Rhoeo Outlook<br />
    6065 Sinagra, WA<br />
    <abbr title="Mobile">M:</abbr>
    0401 781 966
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:matt.steffens.au@gmail.com">Matt Steffens</a><br />
</address>